.container {
    position: relative;
    padding-bottom: 160px;
}

.page_title {
    color: #13547A;
    font-weight: 900;
    font-style: normal;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 0.135em;
    font-variant: small-caps;
    padding-top: 60px;
    padding-bottom: 24px;
}

.page_content {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    padding-bottom: 30px;
}

.page_quotes {
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    padding-bottom: 30px;
}

.page {
    z-index: 11;
}

.bg {
    position: absolute;
    top: 60px;
    bottom: 0;
    margin-left: 850px;
    z-index: 1;
    opacity: 10%;
}

.page_content-title {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: #333333;
    padding-bottom: 8px;
}

.page_content-title_projects {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: #333333;
    padding-bottom: 8px;
    padding-top: 30px;
}

.page_content_list {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    padding-bottom: 8px;
}

.page_content_list:last-child {
    padding-bottom: 0;
}

.projects {
    display: grid;
    grid-template-columns: auto 463px;
    grid-gap: 16px;
}

.foundation-logo {
    padding-top: 40px;
    padding-left: 80px;
}

.header_info {
    display: flex;
    align-items: center;
}

.phone_number {
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: 500;
    padding-left: 11px;
}

.eye_logo {
    padding-left: 24px;
    padding-right: 24px;
}

.header_languages {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    font-weight: 500;
}

.main_page {
    background: #13547A;
    min-height: 100vh;
    min-width: 100vh;
}

.main_page_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header_info_block {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-right: 80px;
}

.el-umiti_logo {
    padding-top: 60px;
}

.main_page_content {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;
    padding-top: 24px;
    max-width: 881px;
}

.main_page_title {
    font-weight: 900;
    font-style: normal;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 15px;
}

.main_page_links {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    background: #FFFFFF;
    justify-content: center;
}

.main_page_link {
    padding-left: 43px;
    font-size: 24px;
    line-height: 32px;
    color: #13547A;
    text-decoration: none;

}

.main_page_link:first-child {
    padding-left: 0;
}

.main_page_footer {
    display: flex;
    padding-top: 50px;
    padding-bottom: 52px;
    justify-content: center;
}

.main_page_project-logo {
    display: block;
    margin: 0 auto;
    opacity: 40%;
    padding-bottom: 24px;
}

.main_page_project_text {
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
}

.main_page_footer_block {
    max-width: 270px;
    padding-right: 96px;
}

.main_page_footer_block:last-child {
    padding-right: 0;
}

.main_page_footer_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-right: 80px;
    padding-left: 80px;
}

.user_agreement {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding-right: 30px;
}

.faq {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
}

.agreement {
    display: flex;
}

.main_page_header_mobile {
    display: none;
}

.main_page_mobile {
    display: none;
}

@media (max-width: 768px) {
    .bg {
        display: none;
    }
    .main_page_mobile {
        max-width: 380px;
        background: #13547A;
        min-height: 100vh;
        padding-bottom: 200px;
        display: block;
    }
    .main_page_header_mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main_page {
        display: none;
    }

    .foundation-logo_mobile {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 18px;
    }
    .el-umiti_logo_mobile {
        display: block;
        margin: 0 auto;
    }
    .main_page_content {
        max-width: 330px;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
    }
    .main_page_title {
        font-size: 24px;
        line-height: 64px;
        text-transform: uppercase;
    }
    .main_page_project-logo {
        opacity: 80%;
    }
    .agreement {
        text-align: center;
        display: block;
    }
    .faq {
        padding-bottom: 24px;
    }
    .page_title {
        font-size: 34px;
        line-height: 40px;
        padding: 32px 74px 24px 16px;
    }

    .page_content {
        font-size: 16px;
        line-height: 26px;
        padding-left: 26px;
        padding-right: 26px;
    }
}